@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(15, 15, 15, 1);
  color: rgba(244, 244, 244, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 56px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(71, 30, 48, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 10px;

  background: rgba(71, 30, 48, 1);
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0px 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;

  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: rgba(71, 30, 48, 1);
  box-shadow: -6px 8px 4px 0px rgba(16, 0, 78, 0.25);

  height: 528px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 20px;
  gap: 40px;
  border-bottom-width: 2px;
  border-left-width: 2px;

  border-bottom-left-radius: 30px;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: rgba(244, 244, 244, 1);
  transition: all 0.3s ease-in-out;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .policy-terms-header__button-wrapper {
    display: none;
  }
  .header {
    width: 100%;

    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    width: 1296px;
    height: 80px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 15px;
    background: rgba(71, 30, 48, 1);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 4%;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(244, 244, 244, 1);
    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 780px;
  padding: 115px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 249px;
  height: 100.04463958740234px;
}
.home-title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 0 36px;
}
.home-text-one {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.home-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 36px;
}
.home-div {
  display: flex;
  gap: 40px;
  align-items: center;
}
.home__google-button_image {
  width: 169px;
  height: 52px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.home-title-two {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1016px;
    padding: 211px 72px 0px;
    background-image: url("/image/home/Hero\ \(1\).png");
  }

  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 638px;
  }
  .home-title-img {
    width: 403px;
    height: 161.9196319580078px;
  }
  .home-title {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;

    padding: 8px 0 56px;
  }
  .home-text-one {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .home-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 16px 0 36px;
  }
  .home-div {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .home-title-two {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
.why {
  width: 375px;
  height: 725px;
  margin: auto;
  padding: 68px 60px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/why/Join\ the\ Lucky\ Rollers\ Community.png");
}

.why-title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: center;
}
.why-text-bold {
  display: flex;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  align-items: center;
  padding: 24px 0 16px;
}

.why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.why-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 841px;
    padding: 138px 693px 0 164px;
    background-image: url("/image/why/Join\ the\ Lucky\ Rollers\ Community\ \(1\).png");
  }

  .why-title {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;

    text-align: left;
  }
  .why-text-bold {
    display: flex;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    gap: 16px;
    padding: 36px 0;
  }

  .why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
  }
  .why-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    padding: 36px 0;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 32px 20px 28px;
}

.uniqueness-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.uniqueness-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background: rgba(71, 30, 48, 1);

  padding: 16px;
  border-radius: 10px;
  margin-top: 10px;

  height: 104px;
}
.uniqueness-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: rgba(244, 244, 244, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 277px;
  margin-top: -34px;
}

@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    margin: auto;
    padding: 100px 72px;
  }

  .uniqueness-list {
    padding-top: 36px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .uniqueness-img {
    width: 309px;
    height: 248px;
    border-radius: 10px;
  }
  .uniqueness-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    width: 309px;
    height: 128px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 10px;
  }
  .uniqueness-text-bold {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    margin-left: 251px;
    margin-top: -58px;
  }
}
.about {
  padding: 68px 60px 0px;
  margin: auto;
  width: 375px;
  height: 535px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/About\ This\ Game.png");
}

.about-title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(30, 30, 30, 1);
}
.about-title-two {
  color: rgba(255, 255, 255, 1);
}
.about-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 138px 863px 0 164px;
    width: 1440px;
    height: 818px;
    background-image: url("/image/about/About\ This\ Game\ \(1\).png");
  }

  .about-title {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 36px 0 0;
  }
}
.how {
  width: 375px;
  height: 651px;
  margin: auto;
  padding: 48px 36px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ Play.png");
}

.how-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.how-item {
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.how-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 646px;
    padding: 138px 120px 0;
    background-image: url("/image/how/How\ to\ Play\ \(1\).png");
  }
  .how-list {
    padding-top: 36px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .how-item {
    padding: 24px 27px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    width: 386px;
  }

  .how-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
  background: rgba(71, 30, 48, 1);
}

.reviews-list {
  width: auto;
  padding-top: 24px;
  padding-bottom: 34px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 291px;
  padding: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/reviews/Review1.png");
}

.reviews-text-bold {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;

  color: rgba(30, 30, 30, 1);
}
.reviews-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
  padding-top: 8px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.reviews-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 90px 150px 30px;
  }
  .reviews-div {
    display: none;
  }
  .reviews-lists {
    display: flex;
    width: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: auto;
  }
  .slick-prev:before {
    content: url("/image/reviews/Button\ \(1\).png");
    margin-left: -45px;
  }
  .slick-next:before {
    content: url("/image/reviews/Button\ \(2\).png");
  }
  .reviews-item {
    margin: 0 20px;
    width: 1076px;
    height: 284px;
    padding: 48px;
    background-image: url("/image/reviews/Review1\ \(1\).png");
  }

  .reviews-text-bold {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    padding-top: 32px;
  }
}

.faq {
  padding: 68px 60px;
  margin: auto;
  width: 375px;
  min-height: 577px;
  background-image: url("/image/faq/FAQ.png");
  background-repeat: no-repeat;
  background-size: 375px 100%;
  background-position: center center;
}

.faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.faq-item {
  padding: 8px 12px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 138px 418px 200px;
    margin: auto;
    width: 1440px;
    min-height: 750px;
    background-size: 1440px 100%;
    background-image: url("/image/faq/FAQ\ \(1\).png");
  }

  .faq-container {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  .faq-item {
    padding: 8px 12px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.features {
  width: 375px;
  height: 754px;
  margin: auto;
  padding: 48px 36px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Key\ Features.png");
}

.features-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-item {
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.features-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(30, 30, 30, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 655px;
    margin: auto;
    padding: 138px 120px 0px;
    background-image: url("/image/features/Key\ Features\ \(1\).png");
  }

  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .features-item {
    width: 386px;
    padding: 22px 25px;
    display: flex;
    gap: 16.5px;
    align-items: center;
  }

  .features-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(71, 30, 48, 1);
  color: rgba(244, 244, 244, 1);
  padding: 32px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 48px 72px;
  }
  .footer-container {
    display: flex;

    align-items: stretch;

    gap: 24px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 16px;
  }
  .footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 96px 20px 32px;
  color: rgba(244, 244, 244, 1);
}
.policy-terms-title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 166px 72px 90px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Lora;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 357px;
  padding: 30px 20px;
  background: rgba(15, 15, 15, 1);
  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;

  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(244, 244, 244, 1);
}
.cookie-button-container {
  padding: 42px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(244, 244, 244, 1);
  border: 2px solid rgba(244, 244, 244, 1);
  background-color: transparent;
  width: 156px;
  height: 40px;
}
#accept-cookies {
  background: rgba(71, 30, 48, 1);
  border: none;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    padding-top: 64px;
    margin: auto;
    display: flex;
    justify-content: end;
    gap: 48px;
  }
  .cookie-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    width: 227px;
    height: 62px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;

    padding: 72px;
    display: none;
  }
}
